<!-- <div class="mx-3 my-3">
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
</div> -->

<div class="mx-3 my-10">
    <mat-card class="py-5">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="border-r-0 md:border-r-2 border-r-gray-200">
                <mat-card-header class="flex justify-center text-center">
                    <mat-card-title>View results</mat-card-title>
                    <mat-card-subtitle>Check which photo is leading!</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="flex justify-center">
                    <button class="mt-5" color="primary" mat-raised-button [routerLink]="''">View</button>
                </mat-card-actions>
            </div>
            <div class="mt-10 md:mt-0">
                <mat-card-header class="flex justify-center text-center">
                    <mat-card-title>Participate!</mat-card-title>
                    <mat-card-subtitle>Upload your own photo</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="flex justify-center">
                    <button [disabled]="isUploading" class="mt-5" color="primary" type="button" mat-raised-button (click)="fileInput.click()">{{ isUploading ? 'Uploading...' : 'Choose file' }}</button>
                    <input hidden (change)="submitPhoto($event)" #fileInput type="file" id="file">
                </mat-card-actions>
            </div>
        </div>
    </mat-card>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="photos === null"></mat-progress-bar>

<div class="grid grid-cols-2 md:grid-cols-4 mx-3 gap-x-3 gap-y-5 pb-5" *ngIf="photos">
    <app-photo-card
        *ngFor="let photo of photos;"
        [data]="photo" [isWithActions]="true"
        (voted)="loadPhotos()"
    ></app-photo-card>
</div>

<!-- {{ photos | async | json }} -->