<div class="mx-3 my-3">
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
</div>

<div class="mx-3 my-3">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-subtitle>Start</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-subtitle>End</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="grid grid-cols-2 md:grid-cols-4 mx-3 gap-3" *ngIf="photos">
    <app-photo-card *ngFor="let photo of photos; trackBy: trackByPhotoID" [data]="photo" [isWithActions]="true"
        (voted)="loadPhotos()"></app-photo-card>
</div>

<!-- {{ photos | async | json }} -->