<mat-card
  [ngClass]="size === 'lg' ? 'max-w-3xl' : 'max-w-md'"
>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ data ? data.user.firstName : '' }} {{ data ? data.user.lastName : ''}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="data ? 'http://localhost:3000/static/' + data.imageURL : 'https://material.angular.io/assets/img/examples/shiba2.jpg'" alt="">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab color="basic" aria-label="Upvote">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button class="ml-1" mat-mini-fab color="basic" aria-label="Downvote">
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <span class="ml-2">
      Score: 4
    </span>
  </mat-card-actions>
</mat-card>
