<mat-card
  [ngClass]="size === 'lg' ? 'max-w-3xl' : 'max-w-md'"
>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ data ? data.user.firstName : '' }} {{ data ? data.user.lastName : ''}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img class="aspect-square max-w-screen-sm" mat-card-image [src]="data ? 'http://localhost:3000/static/' + data.imageURL : 'https://material.angular.io/assets/img/examples/shiba2.jpg'" alt="">
  <!-- <mat-card-content>
  </mat-card-content> -->
  <mat-card-actions *ngIf="isWithActions">
    <div class="w-full flex items-center justify-between">
      <div class="flex items-center">
        <button [disabled]="data ? data.isVoted : false" (click)="vote('UP')" mat-mini-fab color="basic" aria-label="Upvote">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button [disabled]="data ? data.isVoted : false" (click)="vote('DOWN')" class="ml-1" mat-mini-fab color="basic" aria-label="Downvote">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <span class="ml-2">
          Score: {{ data ? data.score : 0 }}
        </span>
      </div>
      <small *ngIf="data && data.isVoted" class="text-gray-600 flex items-center">
        You have voted for this photo
        <mat-icon class="ml-1" [color]="'primary'">check</mat-icon>
      </small>
    </div>
  </mat-card-actions>
</mat-card>
